/* @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); */

/* About Us */
/* 
.head {
    margin-top: 5vh;
    font-size: 1.5rem;
    text-decoration: underline red;
    text-align: center;
    margin-top: 10vh;
}

.content {
    font-size: 1.1rem;
    text-align: center;
    padding: 1vh 10vw;
    margin-bottom: 10vh;
}

.content ul {
    list-style: none;
}

.content ul li span {
    font-weight: 600;
}

.val {
    font-size: 2rem;
    text-decoration: underline red;
    padding: 2vh;
} */