/* Media Query */
/* 
@media screen and (max-width: 1191px) {
    .left ul {
      display: none;
    }
    .right ul {
      display: none;
    }
    .png h1 {
        display: flex;
        justify-content: end;
    }
    .left .menu {
        display: block;
        margin-left: 10vw;
    }
    .content {
        padding: 1vh 5vw;
    }
  }

@media screen and (max-width: 960px) {
    .first-sec {
        display: flex;
        flex-wrap: wrap;
    }
    .sale-outer {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 50vh;
    }
    .second-sec .collection {
        display: flex;
        flex-direction: column;
    }
    .second-sec .collection2 {
        display: flex;
        flex-direction: column;
    }
    .image-container img {
        width: 60vw;
        height: 35vh;
    }
    .card {
        margin-top: 2rem;
    }
  }

@media screen and (max-width: 840px) {
    .first-sec {
        margin-top: 3vh;
    }
    .left-sec {
        margin-bottom: 4vh;
    }
    .right-sec img {
        width: 75vw;
    }
    .left-sec .btn {
        margin-left: 15vw;
    }
    .outer {
        display: flex;
        flex-direction: column;
        height: 50rem;
    }
    .box h3 {
        font-size: 2rem;
    }
    .box ul li {
        font-size: 1.4rem;
    }
    #sec-main {
        padding: 15vh 20vw;
    }
  }
@media screen and (max-width: 577px) {
    .png h1 {
        font-size: 2rem;
    }
    .left .menu {
        margin-bottom: 0.1vh;
    }
    .left-sec p {
        font-size: 3rem;
    }
    .first-sec {
        margin-top: 1vh;
    }
    .right-sec img {
        height: 40vh;
    }
  }

@media screen and (max-width: 459px) {
    .sale-outer {
        margin-bottom: 150vh;
    }
  }
 */
